/* G E N E R A L
* * * * * * * */

@font-face {
    font-display: swap;
    font-family: 'Agatho';
    font-style: normal;
    font-weight: 700;
    src: url('/asset/font/Agatho_Bold.woff2') format('woff2');
}