/* G E N E R A L
* * * * * * * */

/* .app-header */

.app-header {
    position: fixed;
    z-index: var(--app-header-z-index);
}

.app-header nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.app-header nav ul {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--button-big-menu-gap);
}

/* __button */

.app-header__button {
    --button-background: var(--app-header-button-background);
    --button-background-active: var(--app-header-button-background-active);
    --button-text-color: var(--app-header-button-text-color);
    --button-text-color-active: var(--app-header-button-text-color-active);
}

/* D E S K T O P
* * * * * * * */

@media (min-width: 768px) {

    /* .app-header */

    .app-header {
        top: 35px;
        right: 35px;
    }

}

/* M O B I L E
* * * * * * */

@media (max-width: 767px) {

    /* .app-header */

    .app-header {
        top: 10px;
        right: 10px;
    }

}